{
  "openapi": "3.0.0",
  "info": {
    "title": "Uber Ads API",
    "version": "1.0.0",
    "description": "Complete reference for the Uber Ads external API. This document aggregates every endpoint (ad accounts, campaigns, ad groups, ads, product catalog, and reporting) into a single OpenAPI specification."
  },
  "servers": [
    {
      "url": "https://api.uber.com"
    }
  ],
  "tags": [
    {
      "name": "Ad Account"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Ad Groups"
    },
    {
      "name": "Ads"
    },
    {
      "name": "Product Catalog"
    },
    {
      "name": "Reporting"
    }
  ],
  "paths": {
    "/v1/ads/ad-accounts": {
      "get": {
        "summary": "Get Ad Accounts",
        "description": "Retrieve a list of ad accounts for the authenticated user. Only active ad accounts are returned.",
        "security": [
          {
            "auth": [
              "ads.ad-accounts.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ad_accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetAdAccounts_AdAccount"
                      },
                      "description": "List of ad account objects"
                    }
                  }
                },
                "example": {
                  "ad_accounts": [
                    {
                      "ad_account_id": "acc_12345",
                      "name": "Main Advertising Account",
                      "country_code": "US",
                      "currency_code": "USD",
                      "account_type": "OFD",
                      "billing": {
                        "address": {
                          "address_line1": "123 Main Street",
                          "address_line2": "Suite 100",
                          "city": "San Francisco",
                          "state": "CA",
                          "country_code": "US",
                          "postal_code": "94102"
                        },
                        "type": "ACCOUNT_BILLING_MODE_AUTO"
                      }
                    },
                    {
                      "ad_account_id": "acc_67890",
                      "name": "Secondary Account",
                      "country_code": "CA",
                      "currency_code": "CAD",
                      "account_type": "USER_STORES_GROUP",
                      "billing": {
                        "address": {
                          "address_line1": "456 Maple Avenue",
                          "city": "Toronto",
                          "state": "ON",
                          "country_code": "CA",
                          "postal_code": "M5V 3A8"
                        },
                        "type": "ACCOUNT_BILLING_MODE_MANUAL"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdAccounts_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdAccounts_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdAccounts_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdAccounts_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdAccounts_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdAccounts_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "get-ad-accounts",
        "tags": [
          "Ad Account"
        ]
      }
    },
    "/v1/ads/{ad_account_id}/stores": {
      "get": {
        "summary": "Get Stores",
        "description": "Retrieve a list of stores for an ad account.",
        "security": [
          {
            "auth": [
              "ads.ad-accounts.read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ad_account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "required": false,
            "description": "Page token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_limit",
            "required": false,
            "description": "Number of results to return (Max 2000)",
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stores": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetStores_Store"
                      },
                      "description": "List of store objects"
                    },
                    "next_page_token": {
                      "$ref": "#/components/schemas/GetStores_PageToken"
                    }
                  }
                },
                "example": {
                  "stores": [
                    {
                      "id": "store-123",
                      "name": "Downtown Restaurant",
                      "currency_code": "USD",
                      "image_url": "https://images.uber.com/store/downtown-restaurant.jpg",
                      "address": {
                        "address_line1": "123 Main Street",
                        "address_line2": "Suite 100",
                        "city": "San Francisco",
                        "region": "CA",
                        "postal_code": "94102",
                        "country": "US",
                        "latitude": 37.7749,
                        "longitude": -122.4194
                      }
                    },
                    {
                      "id": "store-456",
                      "name": "Uptown Cafe",
                      "currency_code": "USD",
                      "image_url": "https://images.uber.com/store/uptown-cafe.jpg",
                      "address": {
                        "address_line1": "456 Market Street",
                        "city": "San Francisco",
                        "region": "CA",
                        "postal_code": "94103",
                        "country": "US",
                        "latitude": 37.7849,
                        "longitude": -122.4294
                      }
                    }
                  ],
                  "next_page_token": {
                    "value": "eyJsYXN0X3N0b3JlX2lkIjoic3RvcmUtNDU2In0"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStores_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStores_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStores_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStores_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStores_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStores_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "get-stores",
        "tags": [
          "Ad Account"
        ]
      }
    },
    "/v1/ads/{account_id}/campaigns": {
      "get": {
        "summary": "Get Campaigns",
        "description": "Retrieve a list of campaigns for an account.",
        "security": [
          {
            "auth": [
              "ads.campaigns.read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "required": false,
            "description": "Page token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_limit",
            "required": false,
            "description": "Number of results to return (Max 2000)",
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "campaign_id",
            "required": false,
            "description": "Filter by specific campaign ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetCampaigns_Campaign"
                      },
                      "description": "List of campaign objects"
                    },
                    "next_page_token": {
                      "$ref": "#/components/schemas/GetCampaigns_PageToken"
                    }
                  }
                },
                "example": {
                  "campaigns": [
                    {
                      "campaign_id": "00117dad-f83f-4a38-9192-a371250ff09e",
                      "name": "Q4 Holiday Sponsored Listings Campaign",
                      "created_at": "2023-12-01T20:27:24Z",
                      "updated_at": "2023-12-01T22:09:13Z",
                      "created_by_email": "advertiser@restaurant.com",
                      "updated_by_email": "manager@restaurant.com",
                      "budget": {
                        "unit": "BUDGET_UNIT_DAILY",
                        "total": {
                          "amount_e5": "50000",
                          "currency_code": "USD"
                        },
                        "cofunding_sources": [
                          {
                            "funding_percentage": 70
                          }
                        ]
                      },
                      "ad_groups": [
                        {
                          "ad_group_id": "379638e6-5ecf-5b27-af83-68368ee3f597",
                          "name": "Downtown Store Promotion - Ad Group 1",
                          "ad_product": "SPONSORED_LISTING",
                          "configured_status": "AD_GROUP_CONFIGURED_STATUS_ACTIVE",
                          "effective_status": "AD_GROUP_EFFECTIVE_STATUS_ACTIVE",
                          "permissions": [
                            "READ",
                            "UPDATE",
                            "DELETE"
                          ]
                        }
                      ],
                      "configured_status": "CAMPAIGN_CONFIGURED_STATUS_ACTIVE",
                      "effective_status": "CAMPAIGN_EFFECTIVE_STATUS_ACTIVE",
                      "permissions": [
                        "READ",
                        "UPDATE",
                        "DELETE"
                      ]
                    },
                    {
                      "campaign_id": "02416290-cf7b-4f17-ab46-f77cb13f5051",
                      "name": "Winter Menu Launch Campaign",
                      "created_at": "2023-12-18T23:47:34Z",
                      "updated_at": "2023-12-18T23:47:34Z",
                      "created_by_email": "marketing@brand.com",
                      "updated_by_email": "manager@brand.com",
                      "budget": {
                        "unit": "BUDGET_UNIT_WEEKLY",
                        "total": {
                          "amount_e5": "25000",
                          "currency_code": "USD"
                        },
                        "cofunding_sources": [
                          {
                            "funding_percentage": 70
                          }
                        ]
                      },
                      "ad_groups": [
                        {
                          "ad_group_id": "41dd6ced-2465-5e8d-a686-bad20c1de101",
                          "name": "Chicago Area Stores - Ad Group 1",
                          "ad_product": "SPONSORED_SEARCH",
                          "configured_status": "AD_GROUP_CONFIGURED_STATUS_ACTIVE",
                          "effective_status": "AD_GROUP_EFFECTIVE_STATUS_ACTIVE",
                          "permissions": [
                            "READ",
                            "UPDATE"
                          ]
                        }
                      ],
                      "configured_status": "CAMPAIGN_CONFIGURED_STATUS_ACTIVE",
                      "effective_status": "CAMPAIGN_EFFECTIVE_STATUS_ACTIVE",
                      "permissions": [
                        "READ",
                        "UPDATE"
                      ]
                    }
                  ],
                  "next_page_token": {
                    "value": "eyJsYXN0X2NhbXBhaWduX2lkIjoiMDI0MTYyOTAtY2Y3Yi00ZjE3LWFiNDYtZjc3Y2IxM2Y1MDUxIn0"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaigns_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaigns_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaigns_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaigns_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaigns_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaigns_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "get-campaigns",
        "tags": [
          "Campaigns"
        ]
      },
      "post": {
        "summary": "Create Campaigns",
        "description": "Create one or more campaigns for an account.",
        "security": [
          {
            "auth": [
              "ads.campaigns.write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaigns": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateCampaigns_CreateCampaignInput"
                    },
                    "description": "List of campaigns to create"
                  }
                }
              },
              "example": {
                "campaigns": [
                  {
                    "name": "Q1 Spring Promotion Campaign",
                    "configured_status": "CAMPAIGN_CONFIGURED_STATUS_ACTIVE",
                    "budget": {
                      "unit": "BUDGET_UNIT_DAILY",
                      "total": {
                        "amount_e5": "50000",
                        "currency_code": "USD"
                      }
                    }
                  },
                  {
                    "name": "Weekend Special Campaign",
                    "configured_status": "CAMPAIGN_CONFIGURED_STATUS_PAUSED",
                    "budget": {
                      "unit": "BUDGET_UNIT_WEEKLY",
                      "total": {
                        "amount_e5": "100000",
                        "currency_code": "USD"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreateCampaigns_OperationResult"
                      },
                      "description": "Results of the create operations"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "success": {
                        "id": "00117dad-f83f-4a38-9192-a371250ff09e"
                      }
                    },
                    {
                      "success": {
                        "id": "02416290-cf7b-4f17-ab46-f77cb13f5051"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaigns_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaigns_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaigns_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaigns_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaigns_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaigns_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "create-campaigns",
        "tags": [
          "Campaigns"
        ]
      },
      "patch": {
        "summary": "Update Campaigns",
        "description": "Update one or more existing campaigns for an account.",
        "security": [
          {
            "auth": [
              "ads.campaigns.write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaigns": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UpdateCampaigns_UpdateCampaignInput"
                    },
                    "description": "List of campaigns to update"
                  }
                }
              },
              "example": {
                "campaigns": [
                  {
                    "campaign_id": "00117dad-f83f-4a38-9192-a371250ff09e",
                    "name": "Q1 Spring Promotion Campaign - Updated",
                    "configured_status": "CAMPAIGN_CONFIGURED_STATUS_PAUSED",
                    "budget": {
                      "unit": "BUDGET_UNIT_DAILY",
                      "total": {
                        "amount_e5": "75000",
                        "currency_code": "USD"
                      }
                    }
                  },
                  {
                    "campaign_id": "02416290-cf7b-4f17-ab46-f77cb13f5051",
                    "configured_status": "CAMPAIGN_CONFIGURED_STATUS_ACTIVE"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UpdateCampaigns_OperationResult"
                      },
                      "description": "Results of the update operations"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "success": {
                        "id": "00117dad-f83f-4a38-9192-a371250ff09e"
                      }
                    },
                    {
                      "success": {
                        "id": "02416290-cf7b-4f17-ab46-f77cb13f5051"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCampaigns_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCampaigns_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCampaigns_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCampaigns_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCampaigns_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCampaigns_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "update-campaigns",
        "tags": [
          "Campaigns"
        ]
      }
    },
    "/v1/ads/{account_id}/campaigns/{campaign_id}/ad-groups": {
      "get": {
        "summary": "Get Ad Groups",
        "description": "Retrieve ad groups for a specific campaign.",
        "security": [
          {
            "auth": [
              "ads.campaigns.read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "campaign_id",
            "required": true,
            "description": "Campaign identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "required": false,
            "description": "Page token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_limit",
            "required": false,
            "description": "Number of results to return (Max 2000)",
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "ad_group_id",
            "required": false,
            "description": "Filter by specific ad group ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ad_groups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetAdGroups_AdGroup"
                      },
                      "description": "List of ad group objects"
                    },
                    "next_page_token": {
                      "$ref": "#/components/schemas/GetAdGroups_PageToken"
                    }
                  }
                },
                "example": {
                  "ad_groups": [
                    {
                      "ad_group_id": "41dd6ced-2465-5e8d-a686-bad20c1de101",
                      "campaign_id": "02416290-cf7b-4f17-ab46-f77cb13f5051",
                      "name": "National Brands Holiday Campaign - Ad Group 1",
                      "ad_product": "SPONSORED_LISTING",
                      "schedule": {
                        "start_time": "2023-12-18T05:00:00Z",
                        "end_time": "2024-01-01T05:00:00Z"
                      },
                      "budget": {
                        "unit": "BUDGET_UNIT_WEEKLY",
                        "total": {
                          "amount_e5": "25000",
                          "currency_code": "USD"
                        },
                        "cofunding_sources": [
                          {
                            "funding_percentage": 70
                          }
                        ]
                      },
                      "bidding": {
                        "auto": {}
                      },
                      "targeting": {
                        "negation": false,
                        "operator": "AND",
                        "criteria": [
                          {
                            "keyword_targeting": {
                              "keywords": [
                                "pizza",
                                "pasta",
                                "italian food"
                              ],
                              "match_type": "MATCH_TYPE_EXACT"
                            }
                          }
                        ]
                      },
                      "dayparting_schedule": {
                        "dayparting_day_schedule": [
                          {
                            "intervals": [
                              {
                                "start_time": {
                                  "hour": 6,
                                  "minute": 0
                                },
                                "end_time": {
                                  "hour": 22,
                                  "minute": 0
                                }
                              }
                            ]
                          },
                          {
                            "intervals": [
                              {
                                "start_time": {
                                  "hour": 6,
                                  "minute": 0
                                },
                                "end_time": {
                                  "hour": 22,
                                  "minute": 0
                                }
                              }
                            ]
                          },
                          {
                            "intervals": [
                              {
                                "start_time": {
                                  "hour": 6,
                                  "minute": 0
                                },
                                "end_time": {
                                  "hour": 22,
                                  "minute": 0
                                }
                              }
                            ]
                          },
                          {
                            "intervals": [
                              {
                                "start_time": {
                                  "hour": 6,
                                  "minute": 0
                                },
                                "end_time": {
                                  "hour": 22,
                                  "minute": 0
                                }
                              }
                            ]
                          },
                          {
                            "intervals": [
                              {
                                "start_time": {
                                  "hour": 6,
                                  "minute": 0
                                },
                                "end_time": {
                                  "hour": 22,
                                  "minute": 0
                                }
                              }
                            ]
                          },
                          {
                            "intervals": [
                              {
                                "start_time": {
                                  "hour": 6,
                                  "minute": 0
                                },
                                "end_time": {
                                  "hour": 24,
                                  "minute": 0
                                }
                              }
                            ]
                          },
                          {
                            "intervals": [
                              {
                                "start_time": {
                                  "hour": 6,
                                  "minute": 0
                                },
                                "end_time": {
                                  "hour": 24,
                                  "minute": 0
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "subjects": {
                        "stores": {
                          "store_ids": [
                            "65681a33-d4b2-4e23-b9a2-8e9fd44f0b60"
                          ]
                        }
                      },
                      "configured_status": "AD_GROUP_CONFIGURED_STATUS_ACTIVE",
                      "effective_status": "AD_GROUP_EFFECTIVE_STATUS_ACTIVE",
                      "permissions": [
                        "READ",
                        "UPDATE",
                        "DELETE"
                      ]
                    },
                    {
                      "ad_group_id": "f1768d22-414e-4dfa-8871-0c0ae345092d",
                      "campaign_id": "03527abc-8d4e-4c19-bc67-f88da25ef203",
                      "name": "Asian Cuisine Targeting Group",
                      "ad_product": "SPONSORED_SEARCH",
                      "schedule": {
                        "start_time": "2025-08-21T21:00:00Z"
                      },
                      "budget": {
                        "unit": "BUDGET_UNIT_DAILY",
                        "total": {
                          "amount_e5": "30000",
                          "currency_code": "USD"
                        },
                        "cofunding_sources": [
                          {
                            "funding_percentage": 70
                          }
                        ]
                      },
                      "bidding": {
                        "auto": {}
                      },
                      "targeting": {
                        "negation": false,
                        "operator": "AND",
                        "criteria": [
                          {
                            "keyword_targeting": {
                              "keywords": [
                                "sushi",
                                "asian fusion",
                                "takeout"
                              ],
                              "match_type": "MATCH_TYPE_BROAD"
                            }
                          }
                        ]
                      },
                      "subjects": {
                        "stores": {
                          "store_ids": [
                            "9ec56511-e1d6-4361-86b3-0e35f55fe24f"
                          ]
                        }
                      },
                      "configured_status": "AD_GROUP_CONFIGURED_STATUS_ACTIVE",
                      "effective_status": "AD_GROUP_EFFECTIVE_STATUS_ACTIVE",
                      "permissions": [
                        "READ",
                        "UPDATE"
                      ]
                    }
                  ],
                  "next_page_token": {
                    "value": "eyJsYXN0X2FkX2dyb3VwX2lkIjoiNDFkZDZjZWQtMjQ2NS01ZThkLWE2ODYtYmFkMjBjMWRlMTAxIn0"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdGroups_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdGroups_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdGroups_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdGroups_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdGroups_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdGroups_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "get-ad-groups",
        "tags": [
          "Ad Groups"
        ]
      },
      "post": {
        "summary": "Create Ad Groups",
        "description": "Create one or more ad groups within a campaign.",
        "security": [
          {
            "auth": [
              "ads.campaigns.write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "campaign_id",
            "required": true,
            "description": "Campaign identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ad_groups": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateAdGroups_CreateAdGroupInput"
                    },
                    "description": "List of ad groups to create"
                  }
                }
              },
              "example": {
                "ad_groups": [
                  {
                    "name": "Downtown Store Promotion",
                    "ad_product": "SPONSORED_LISTING",
                    "configured_status": "AD_GROUP_CONFIGURED_STATUS_ACTIVE",
                    "budget": {
                      "unit": "BUDGET_UNIT_DAILY",
                      "total": {
                        "amount_e5": "25000",
                        "currency_code": "USD"
                      }
                    },
                    "schedule": {
                      "start_time": "2024-01-01T00:00:00Z"
                    },
                    "dayparting_schedule": {
                      "dayparting_day_schedule": [
                        {
                          "intervals": [
                            {
                              "start_time": {
                                "hour": 6,
                                "minute": 0
                              },
                              "end_time": {
                                "hour": 22,
                                "minute": 0
                              }
                            }
                          ]
                        },
                        {
                          "intervals": [
                            {
                              "start_time": {
                                "hour": 6,
                                "minute": 0
                              },
                              "end_time": {
                                "hour": 22,
                                "minute": 0
                              }
                            }
                          ]
                        },
                        {
                          "intervals": [
                            {
                              "start_time": {
                                "hour": 6,
                                "minute": 0
                              },
                              "end_time": {
                                "hour": 22,
                                "minute": 0
                              }
                            }
                          ]
                        },
                        {
                          "intervals": [
                            {
                              "start_time": {
                                "hour": 6,
                                "minute": 0
                              },
                              "end_time": {
                                "hour": 22,
                                "minute": 0
                              }
                            }
                          ]
                        },
                        {
                          "intervals": [
                            {
                              "start_time": {
                                "hour": 6,
                                "minute": 0
                              },
                              "end_time": {
                                "hour": 22,
                                "minute": 0
                              }
                            }
                          ]
                        },
                        {
                          "intervals": [
                            {
                              "start_time": {
                                "hour": 6,
                                "minute": 0
                              },
                              "end_time": {
                                "hour": 24,
                                "minute": 0
                              }
                            }
                          ]
                        },
                        {
                          "intervals": [
                            {
                              "start_time": {
                                "hour": 6,
                                "minute": 0
                              },
                              "end_time": {
                                "hour": 24,
                                "minute": 0
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "bidding": {
                      "auto": {}
                    },
                    "targeting": {
                      "negation": false,
                      "operator": "AND",
                      "criteria": [
                        {
                          "uber_one": {}
                        }
                      ]
                    },
                    "ad_subjects": {
                      "stores": {
                        "store_ids": [
                          "store-123",
                          "store-456"
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreateAdGroups_OperationResult"
                      },
                      "description": "Results of the create operations"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "success": {
                        "id": "379638e6-5ecf-5b27-af83-68368ee3f597"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdGroups_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdGroups_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdGroups_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdGroups_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdGroups_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdGroups_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "create-ad-groups",
        "tags": [
          "Ad Groups"
        ]
      },
      "patch": {
        "summary": "Update Ad Groups",
        "description": "Update one or more existing ad groups within a campaign.",
        "security": [
          {
            "auth": [
              "ads.campaigns.write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "campaign_id",
            "required": true,
            "description": "Campaign identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ad_groups": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UpdateAdGroups_UpdateAdGroupInput"
                    },
                    "description": "List of ad groups to update"
                  }
                }
              },
              "example": {
                "ad_groups": [
                  {
                    "ad_group_id": "379638e6-5ecf-5b27-af83-68368ee3f597",
                    "name": "Downtown Store Promotion - Updated",
                    "configured_status": "AD_GROUP_CONFIGURED_STATUS_PAUSED",
                    "budget": {
                      "unit": "BUDGET_UNIT_DAILY",
                      "total": {
                        "amount_e5": "35000",
                        "currency_code": "USD"
                      }
                    },
                    "bidding": {
                      "manual": {
                        "bid_amount": {
                          "amount_e5": "15000",
                          "currency_code": "USD"
                        }
                      }
                    },
                    "targeting": {
                      "negation": false,
                      "operator": "AND",
                      "criteria": [
                        {
                          "uber_one": {}
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UpdateAdGroups_OperationResult"
                      },
                      "description": "Results of the update operations"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "success": {
                        "id": "379638e6-5ecf-5b27-af83-68368ee3f597"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdGroups_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdGroups_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdGroups_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdGroups_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdGroups_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdGroups_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "update-ad-groups",
        "tags": [
          "Ad Groups"
        ]
      }
    },
    "/v1/ads/{account_id}/campaigns/{campaign_id}/ad-groups/{ad_group_id}/ads": {
      "get": {
        "summary": "Get Ads",
        "description": "Retrieve a list of ads within an ad group.",
        "security": [
          {
            "auth": [
              "ads.campaigns.read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "campaign_id",
            "required": true,
            "description": "Campaign identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "ad_group_id",
            "required": true,
            "description": "Ad group identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "required": false,
            "description": "Page token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_limit",
            "required": false,
            "description": "Number of results to return (Max 2000)",
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "ad_id",
            "required": false,
            "description": "Filter by specific ad ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetAds_Ad"
                      },
                      "description": "List of ad objects"
                    },
                    "next_page_token": {
                      "$ref": "#/components/schemas/GetAds_PageToken"
                    }
                  }
                },
                "example": {
                  "ads": [
                    {
                      "ad_id": "ad-123-456-789",
                      "ad_group_id": "379638e6-5ecf-5b27-af83-68368ee3f597",
                      "campaign_id": "00117dad-f83f-4a38-9192-a371250ff09e",
                      "name": "Downtown Store Ad"
                    },
                    {
                      "ad_id": "ad-987-654-321",
                      "ad_group_id": "379638e6-5ecf-5b27-af83-68368ee3f597",
                      "campaign_id": "00117dad-f83f-4a38-9192-a371250ff09e",
                      "name": "Weekend Special Ad"
                    }
                  ],
                  "next_page_token": {
                    "value": "eyJsYXN0X2FkX2lkIjoiYWQtOTg3LTY1NC0zMjEifQ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAds_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAds_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAds_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAds_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAds_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAds_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "get-ads",
        "tags": [
          "Ads"
        ]
      },
      "post": {
        "summary": "Create Ads",
        "description": "Create one or more ads within an ad group.",
        "security": [
          {
            "auth": [
              "ads.campaigns.write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "campaign_id",
            "required": true,
            "description": "Campaign identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "ad_group_id",
            "required": true,
            "description": "Ad group identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateAds_CreateAdInput"
                    },
                    "description": "List of ads to create"
                  }
                }
              },
              "example": {
                "ads": [
                  {
                    "name": "Downtown Store Ad"
                  },
                  {
                    "name": "Weekend Special Ad"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreateAds_OperationResult"
                      },
                      "description": "Results of the create operations"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "success": {
                        "id": "ad-123-456-789"
                      }
                    },
                    {
                      "success": {
                        "id": "ad-987-654-321"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAds_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAds_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAds_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAds_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAds_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAds_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "create-ads",
        "tags": [
          "Ads"
        ]
      },
      "patch": {
        "summary": "Update Ads",
        "description": "Update one or more existing ads within an ad group.",
        "security": [
          {
            "auth": [
              "ads.campaigns.write"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Ad account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "campaign_id",
            "required": true,
            "description": "Campaign identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "ad_group_id",
            "required": true,
            "description": "Ad group identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UpdateAds_UpdateAdInput"
                    },
                    "description": "List of ads to update"
                  }
                }
              },
              "example": {
                "ads": [
                  {
                    "ad_id": "ad-123-456-789",
                    "name": "Downtown Store Ad - Updated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UpdateAds_OperationResult"
                      },
                      "description": "Results of the update operations"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "success": {
                        "id": "ad-123-456-789"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAds_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAds_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAds_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAds_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAds_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAds_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "update-ads",
        "tags": [
          "Ads"
        ]
      }
    },
    "/v1/ads/{account_id}/products": {
      "get": {
        "summary": "Get Products",
        "description": "Retrieve product information for advertising inventory.\n\n**Note: Product catalog data may be updated every 4 hours.**\n",
        "security": [
          {
            "auth": [
              "ads.products.read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_token",
            "required": false,
            "description": "Page token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_limit",
            "required": false,
            "description": "Number of results to return (Max 2000)",
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetProducts_Product"
                      },
                      "description": "List of product objects"
                    },
                    "next_page_token": {
                      "$ref": "#/components/schemas/GetProducts_PageToken"
                    }
                  }
                },
                "example": {
                  "products": [
                    {
                      "gtin": "0123456789012",
                      "product_name": "Classic Margherita Pizza",
                      "brand_owner_name": "Tony's Italian Kitchen",
                      "brand_name": "Tony's",
                      "main_image_url": "https://images.uber.com/products/margherita-pizza-001.jpg",
                      "size": "25 oz"
                    },
                    {
                      "gtin": "0987654321098",
                      "product_name": "Chicago Deep Dish Special",
                      "brand_owner_name": "Windy City Pizza Co",
                      "brand_name": "Windy City",
                      "main_image_url": "https://images.uber.com/products/deep-dish-special-002.jpg",
                      "size": "32 oz"
                    },
                    {
                      "gtin": "0456789123456",
                      "product_name": "Fresh Caesar Salad",
                      "brand_owner_name": "Garden Bistro",
                      "brand_name": "Garden",
                      "main_image_url": "https://images.uber.com/products/caesar-salad-003.jpg",
                      "size": "18 oz"
                    }
                  ],
                  "next_page_token": {
                    "value": "eyJsYXN0X3Byb2R1Y3RfZ3RpbiI6IjA0NTY3ODkxMjM0NTYifQ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProducts_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProducts_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProducts_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProducts_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProducts_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProducts_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "get-products",
        "tags": [
          "Product Catalog"
        ]
      }
    },
    "/v1/ads/{account_id}/reporting/report": {
      "post": {
        "summary": "Generate Report",
        "description": "Request an asynchronous report with advertising metrics including performance, keyword, and category data.",
        "security": [
          {
            "auth": [
              "ads.reporting"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Account identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Report generation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReports_ExternalSubmitReportJobRequest"
              },
              "example": {
                "report_type": "AD_PERFORMANCE",
                "time_range": {
                  "start_time": "2025-08-01T00:00:00Z",
                  "end_time": "2025-08-21T00:00:00Z"
                },
                "columns": [
                  "campaign_id",
                  "ad_group_id",
                  "impressions",
                  "clicks",
                  "ad_spend",
                  "sales_7d_on_click_date",
                  "orders_7d_on_click_date",
                  "roas_7d_on_click_date",
                  "cost_per_click"
                ],
                "time_unit": "DAILY",
                "filters": [
                  {
                    "column": "campaign_id",
                    "operator": "EQUAL",
                    "values": [
                      "13529bf9-328e-5cf9-b2a7-b670334c2bd9"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReports_ExternalSubmitReportJobResponse"
                },
                "example": {
                  "report_id": "report_abc123def456"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReports_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReports_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReports_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReports_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReports_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReports_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "create-reports",
        "tags": [
          "Reporting"
        ]
      }
    },
    "/v1/ads/{account_id}/reporting/{report_id}": {
      "get": {
        "summary": "Get Report Status",
        "description": "Check the status of a report generation request and retrieve the download URL when ready.\n\nThe download URL expires 5 minutes after the report status becomes `COMPLETED`.\n",
        "security": [
          {
            "auth": [
              "ads.reporting"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "report_id",
            "required": true,
            "description": "Report identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReport_ExternalGetReportJobStatusResponse"
                },
                "example": {
                  "status": "COMPLETED",
                  "result": {
                    "success_result": {
                      "report_url": "https://reports.uber.com/download/abc123def456",
                      "file_size": "1048576",
                      "url_expires_at": "2024-02-01T00:00:00Z",
                      "report_schema": [
                        "campaign_id",
                        "impressions",
                        "clicks",
                        "spend"
                      ]
                    },
                    "started_at": "2024-01-01T10:00:00Z",
                    "finished_at": "2024-01-01T10:05:30Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReport_error"
                },
                "example": {
                  "code": "BadRequest",
                  "message": "Invalid request format or parameters."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReport_error"
                },
                "example": {
                  "code": "Unauthorized",
                  "message": "Authentication credentials are missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReport_error"
                },
                "example": {
                  "code": "PermissionDenied",
                  "message": "Insufficient permissions to perform this operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReport_error"
                },
                "example": {
                  "code": "NotFound",
                  "message": "The requested resource was not found or is inaccessible"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReport_error"
                },
                "example": {
                  "code": "RateLimitExceeded",
                  "message": "Request limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReport_error"
                },
                "example": {
                  "code": "Internal",
                  "message": "An unexpected server error occurred."
                }
              }
            }
          }
        },
        "operationId": "get-report",
        "tags": [
          "Reporting"
        ]
      }
    },
    "/v1/ads/{account_id}/reporting/sync": {
      "post": {
        "summary": "Sync Report",
        "description": "Request a synchronous report that returns advertising metrics immediately in the response. Ideal for real-time dashboards and interactive analytics.",
        "security": [
          {
            "auth": [
              "ads.reporting"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "description": "Account identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Sync report request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncReport_SyncReportRequest"
              },
              "example": {
                "report_type": "AD_PERFORMANCE",
                "time_range": {
                  "start_time": "2025-11-03T00:00:00Z",
                  "end_time": "2025-11-05T00:00:00Z"
                },
                "columns": [
                  "campaign_id",
                  "ad_group_id",
                  "impressions",
                  "clicks",
                  "ad_spend",
                  "sales_7d_on_click_date",
                  "roas_7d_on_click_date"
                ],
                "time_unit": "DAILY",
                "filters": [
                  {
                    "column": "campaign_id",
                    "operator": "EQUAL",
                    "values": [
                      "13529bf9-328e-5cf9-b2a7-b670334c2bd9"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncReport_SyncReportResponse"
                },
                "example": {
                  "schema": {
                    "columns": [
                      {
                        "name": "day_of",
                        "type": "COLUMN_TYPE_TIMESTAMP"
                      },
                      {
                        "name": "campaign_id",
                        "type": "COLUMN_TYPE_STRING"
                      },
                      {
                        "name": "ad_group_id",
                        "type": "COLUMN_TYPE_STRING"
                      },
                      {
                        "name": "impressions",
                        "type": "COLUMN_TYPE_INT64"
                      },
                      {
                        "name": "clicks",
                        "type": "COLUMN_TYPE_INT64"
                      },
                      {
                        "name": "ad_spend",
                        "type": "COLUMN_TYPE_DOUBLE"
                      },
                      {
                        "name": "sales_7d_on_click_date",
                        "type": "COLUMN_TYPE_DOUBLE"
                      },
                      {
                        "name": "roas_7d_on_click_date",
                        "type": "COLUMN_TYPE_DOUBLE"
                      }
                    ]
                  },
                  "data": {
                    "rows": [
                      {
                        "values": [
                          "2025-11-04T00:00:00Z",
                          "{campaign_uuid}",
                          "{ad_group_uuid}",
                          "8428",
                          "506",
                          "159.35",
                          "2250",
                          "14.119861939127706"
                        ]
                      },
                      {
                        "values": [
                          "2025-11-03T00:00:00Z",
                          "{campaign_uuid}",
                          "{ad_group_uuid}",
                          "6677",
                          "457",
                          "111.92",
                          "2201.26",
[...]
